:root {
	--bg-init-size: 23em;
	--bg-size: 100em;
}

@font-face {
	font-family: Sonoma;
	src: url('Sonoma.otf') format('opentype');
}

body {
	background: #040403;
	height: 100%;
	overflow: hidden;
}

h1 {
	font-family: Sonoma;
}

.boot {
	visibility: hidden;
}

.bootLogo img {
	height: 25em;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bootLogo h1 {
	color: white;
	font-size: 8em;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px 2px black;
}

.rightHeader {
	position: absolute;
	top: 2%;
	right: 3%;
}

.leftHeader {
	position: absolute;
	top: 2%;
	left: 3%;
}


.bLogo {
	width: 4em;
	height: 4em;
	display: inline-block;
	padding: 1em;
}

.linkBottom {
	position: absolute;
	bottom: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.background {
	position: absolute;
	opacity: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}

.header h1 {
	position: absolute;
	text-align: center;	
	color: white;
	font-size: 10em;
	text-shadow: 1px 1px 1px darkblue, -1px 1px 1px darkred;
	z-index: 1;
	top: 2.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: var(--bg-init-size);
	width: var(--bg-init-size);
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}

.webring {
	color: white;

}

.webringCenter {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.webringLeft {
	position: absolute;
	bottom: 1.5%;
	left: 2.5%;
}

.webringRight {
	position: absolute;
	bottom: 1.5%;
	right: 2.5%;
}


/* animations */

/* boot animations */
@-webkit-keyframes boot {
	0%,100% { opacity: 0; }
	50% { opacity: 1; }
}

/* background animations */
@-webkit-keyframes jumpscare {
	/* grow */
	0% {height: var(--bg-init-size); width: var(--bg-init-size); opacity: 0.2}
	10% {height: var(--bg-size); width: var(--bg-size); opacity: 1}
	/* shake */
	11% { transform: translate(1px, 1px) rotate(0deg)}
	12% { transform: translate(-1px, -2px) rotate(-1deg)}
	13% { transform: translate(-3px, 0px) rotate(1deg)}
	14% { transform: translate(3px, 2px) rotate(0deg)}
	15% { transform: translate(1px, -1px) rotate(1deg)}
	16% { transform: translate(-1px, 2px) rotate(-1deg)}
	17% { transform: translate(-3px, 1px) rotate(0deg)}
	18% { transform: translate(3px, 1px) rotate(-1deg)}
	19% { transform: translate(-1px, -1px) rotate(1deg)}
	20% { transform: translate(1px, 2px) rotate(0deg)}
	21% { transform: translate(1px, -2px) rotate(-1deg); height: var(--bg-size); width: var(--bg-size)}
	/* shrink */
	100% {height: var(--bg-init-size); width: var(--bg-init-size); opacity: 0.2}
}

@keyframes grow {
	from {height: var(--bg-init-size)}
	from {width: var(--bg-init-size)}
	from {opacity: 0.2}
	to {height: 1000em}
	to {width: 1000em}
	to {opacity: 0.2}
}
